.expanded-sidebar-bg{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0);
    z-index: 0;
    transition: background-color ease-in 250ms;
}


section.hero{
    height: 100vh;
    padding: 0 var(--padding-wide);
    overflow: hidden;
    background-image: url(/media/activities/zipline_00.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    animation: shrinkHero 1000ms ease-in forwards;
}

@keyframes shrinkHero {
    from{
        height: 100vh
    }
    to{
        height: 75vh
    }
}

.hero .navigation{
    position: absolute;
    top: calc(10vh + 68px);
    left: var(--padding-wide);
}


.hero .navigation a{
    color: var(--clr-white);
    position: relative;
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 500;
}

.hero .navigation a:after{
    content:"/";
    position: absolute;
    position: absolute;
    top: 50%;
    right: -.5rem;
    transform: translateY(-50%);
}

.hero .navigation a:last-child{
    font-weight: 300;
}

.hero .navigation a:last-child:after{
    content:"";
}

.hero h1{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: start;
    padding: 56px;
    font-weight: 900;
    color: var(--clr-white);
    z-index: 1;
    text-shadow: 1px 2px 6px rgba(0,0,0,.3);
    opacity: 0;
    animation: fadeInH1 1000ms ease-in-out forwards;
    animation-delay: 500ms;
}

@keyframes fadeInH1 {
    from{
        opacity: 0;
        transform: translateY(100%)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

.catalog{
    padding: 32px var(--padding-wide);
    display: flex;
    gap: 28px;
    width: 100%;
    align-items: start;
    justify-content: center;
    border-top: 8Px solid var(--clr-accent);

    background: var(--clr-neutral-200);
}

.catalog .sidebar{
    width: 100%;
    max-width: 300px;
    min-width: 230px;
}

.catalog .main{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* sidebar styling */
.catalog .sidebar .container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.catalog .sidebar .container .close-btn{
    display: none;

    width: fit-content;
    font-size: 14px;
    padding: .3rem .8rem;
    border: none;
    border-radius: 1rem;
    opacity: 1;
    
    color: var(--clr-black);
    background: transparent;
    backdrop-filter: blur(20px);
    
    
    cursor: pointer;
}

.catalog .sidebar .container .close-btn i{
    margin-right: .5rem;
    font-size: 14px;
}

.catalog .sidebar .container .close-btn:active{
    background: #98989842;
}

.catalog .sidebar .box{
    background: var(--clr-white);
    width: 100%;
    overflow: hidden;
}

.catalog .sidebar .box-title{
    background: var(--clr-accent-fade);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px ;

    cursor: pointer;
}

.catalog .sidebar .box-title p{
    font-weight: 500;
    color: var(--clr-accent);
}

.catalog .sidebar .box-title .fa-angle-down{
    transition: all ease-in-out 250ms;
    color: var(--clr-accent);
}

.catalog .sidebar .box-content{
    overflow: hidden;
    padding: 6px 0;
}

.catalog .sidebar .wrapper{
    padding: 8px 18px;
    display: flex;
    flex-direction: column;
}

.catalog .sidebar .heading{
    font-weight: 300;
    margin-bottom: 4px;
}

.catalog .sidebar ul{
    list-style: none;
    padding: 0;
}

.catalog .sidebar li{
    display: flex;
    align-items: center;
    gap: 12px;
    
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: white;
}

/* Style the checkbox when checked */
input[type="checkbox"]:checked {
    background-color: var(--clr-highlight);
    border-color: var(--clr-highlight);
}

/* Custom checkmark */
input[type="checkbox"]:checked::before {
    content: '✔';
    color: white;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.catalog .sidebar .box.filters .box-title p,
.catalog .sidebar .box.filters .fa-angle-down,
.catalog .sidebar .box.filters .heading{
    color: var(--clr-highlight);
}

.catalog .sidebar .box.filters .box-title{
    background: var(--clr-highlight-fade);
}

.catalog .sidebar .box.filters li{
    opacity: .5;
}

.catalog .sidebar .box.filters li:has(input:checked){
    opacity: 1;
}

.catalog .sidebar li label{
    font-size: 1rem;
    font-weight: var(--text-weight);
    line-height: 1.25rem;
    user-select: none;
    padding: 4px 0px;
    cursor: pointer;
}

.catalog .sidebar li label:hover{
    color: var(--clr-highlight);
}

.catalog .sidebar .flex-container{
    display: flex;
    justify-content: space-between;
}

.catalog .sidebar .flex-container > *{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 0.825rem;
    padding: 6px 18px;
    color: var(--clr-neutral-300);
    transition: var(--transition-default);
}

.catalog .sidebar .flex-container > *:hover{
    color: var(--clr-neutral-400);
}


.catalog .sidebar .box-title.hidden .fa-angle-down{
    transform: rotate(-90deg);
}

.catalog .sidebar .box-title.hidden + .box-content{
    height: 0;
    padding: 0;
}

.catalog .sidebar .link{
    position: relative;
    width: 100%;
    padding: 4px 20px;
    padding-left: 20px;
    text-decoration: none;

    transition: all ease-out 250ms;
}

.catalog .sidebar .link::before{
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 12px;
    left: 0;
    transform: translateY(-50%);
    background: var(--clr-black);
    transition: all ease-out 250ms;
}

.catalog .sidebar li .link:hover{
    padding-left: 25px;
    color: var(--clr-accent);
}

.catalog .sidebar li .link:hover::before{
    width: 16px;
    background: var(--clr-accent);
}


.catalog .expand-sidebar{
    display: none;
    
}

.catalog .expand-sidebar i{
    margin-right: .5rem;
}


/* --------------- tour cards styling -------------- */
.catalog .main .warning{
    text-align: start;
    text-transform: none;
}


/* ///////////////////////////
////////////////////////////////////
///////// MEDIA QUERIES /////////
////////////////////////////////////
/////////////////////////// */


@media (max-width: 990px) {
    .catalog .main{
        padding-top: 80px;
    }

    .catalog .sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 50;
        background: #fff;
        padding: var(--padding-mobile);
        
        /* to fix! */
        overflow: scroll;
        
        left: -100%;
        transition: left ease-in-out 450ms;
    }

    .catalog .sidebar .box{
        border: none;
    }

    .catalog .sidebar .box-title{
        border: none;
        background: transparent;
        border-bottom: 1px solid var(--clr-accent);
    }
    
    .catalog .sidebar .box.filters .box-title{
        background: transparent;
        border-bottom: 1px solid var(--clr-highlight);
    }

    .catalog .expand-sidebar{
        display: block;
        position: absolute;
        top: 40px;
        left: var(--padding-wide);

        padding: .3rem 1rem;
        border: 1px solid #000;
        border-radius: 1rem;
        cursor: pointer;
    }

    .catalog .sidebar.expanded{
        left: 0%;
    }

    body:has(.sidebar.expanded) .expanded-sidebar-bg{
        background-color: rgba(0,0,0,.75);
        z-index: 10;
    }
}

@media (max-width: 430px){
    .hero h1{
        padding: 56px 0px;
        text-align: center;
    }

    .catalog .sidebar.expanded .container .close-btn{
        display: block;
    }

    section.hero{
        background-attachment: scroll;
    }
}











.main .card{
    text-decoration: none;
    width: 100%;
    max-width: 840px;
    height: fit-content;
    
    display: flex;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    transition: var(--transition-default);
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .main .card:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card .image-container{
    flex: 1;
    max-width: 400px; /* change to 350px? */
    height: 285px;
  
    position: relative;
  }
  
  .card .image-container img{
    position: absolute;
    inset: 0;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  
  .card .image-container .overlay{
    position: absolute;
    inset: 0;
    left: 50%;
    z-index: 1;
    background: linear-gradient(to left, #000000, #00000000);
    opacity: .15;
  }
  
  .card .image-container .special-tag{
    position: absolute;
    top: 18px;
    left: 14px;
    z-index: 2;
    background: #FFF3CD;
    border-radius: 6px;
    height: 26px;
    padding-inline: 12px;
    white-space: nowrap;
    
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  
  }

  .special-tag.hide{
    display: none !important;
    user-select: none;
  }
  
  
  .card .image-container .special-tag span,
  .card .image-container .special-tag i{
    font-size: 12px;
    line-height: 26px;
    color: #f89236;
  }
  
  .card .image-container .special-tag i{
    margin-right: 5px;
    font-size: 10px;
  }
  
  
  .card .content{
    flex: 1;
    max-width: 440px;
    height: 285px;
    padding: 26px 24px 12px 24px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  
  .card .top-row{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 14px;
  }
  
  .card .tour-name{
    font-family: "Montserrat";
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
    color: #3d3d3d;
  
  
  /* not working? */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .card .top-row .duration{
    font-size: 12px;
    line-height: 14px;
    color: #3d3d3d;
  }
  
  .card .description{
    max-height: 120px;
    overflow: hidden;
  }
  
  .card .description p{
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    color: #3d3d3d;
  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
  
  }
  
  .card .bottom-row{
    padding-top: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: fit-content;
  }
  
  .card .bottom-row .tour-name{
    display: none;
  }
  
  .card .bottom-row .pricing{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .card .bottom-row .from{
    font-size: 12px;
    line-height: 18px;
    color: #959595;
  }
  
  .card .bottom-row .tour-price{
    font-size: 14px;
    color: #3d3d3d;
    font-weight: 500;
  }
  
  .card .bottom-row .right-col{
    height: fit-content; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card .bottom-row .info-button{
    padding: 8px 16px;
    border-radius: 6px;
    background: #657FE8;
    border: none;
    white-space: nowrap;
    
    transition: var(--transition-default);
    cursor: pointer;
  }
  
  .card .bottom-row .info-button:hover{
    background: #8193df;
  }
  
  .card .bottom-row .info-button span{
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
  }
  
  .card .bottom-row .info-button i{
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
  }
  
  @media (min-width: 501px) and (max-width: 600px) {
    .card .bottom-row .info-button span{
      display: none;
    }
  
    .card .bottom-row .info-button i{
      margin: 0;
    }
  }
  
  @media (max-width: 500px){

    /* .main{
        padding: 48px 8vw;
    } */

    .main .card{
      flex-direction: column;
      width: 100%;
      height: unset;
      aspect-ratio: 9 / 8;
    }
  
    .card .image-container{
      max-width: 100%;
      height: 100%;
    }
  
    .card .image-container .overlay{
      background: linear-gradient(to top, #000000, #00000000);
      left: 0;
      top: 50%;
    }
  
    .card .content{
      height: fit-content;
      flex: none;
      padding: 4vw 4.5vw;
    }
  
    .card .top-row,
    .card .description{
      display: none;
    }
  
    .card .bottom-row{
      padding-top: 0;
      align-items: center;
    }
  
    .card .bottom-row .tour-name{
      display: block;
    } 
  
    .card .bottom-row .pricing{
      flex-direction: row;
      justify-content: start;
      gap: 6px;
    }
  
    .card .bottom-row .pricing .tour-price{
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
      color: #959595;
    }
  
    .card .bottom-row .pricing .tour-price.alt{
      display: none;
    }
  }
  
  @media (max-width: 430px){
    .card .bottom-row .pricing{
      display: none;
    }
  
    .card .tour-name{
      font-size: 20px;
    }
}
  
  
  @media (max-width: 320px){
    .card .special-tag,
    .card .bottom-row .right-col .info-button span{
      display: none;
    }
  
    .card .bottom-row .right-col  .info-button{
      background: none;
      padding: 0;
    }
  
    .card .bottom-row .right-col  .info-button i{
      margin: 0;
      color: #3d3d3d ;
    }
  
    .card .tour-name{
      font-size: 18px;
    }
  }